# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.env
.env.*
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db